* {
    font-family: "Roboto", sans-serif;
}

#contact {
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan vertikal */
    height: 100vh;
    flex-direction: column;
}

.contact-text {
    text-align: center !important;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 3px solid #4caf50;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}
.feedback-card {
    border: 2px solid black;
    max-width: 600px; /* Sesuaikan ukuran agar lebih besar */
    width: 100%;
    background-color: #fff;
    margin: 20px auto; /* Beri jarak dengan elemen lain */
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-body__email {
    margin-top: 10px;
    border: 2px solid black;
    height: 40px; /* Perbesar area teks */
}

.feedback-body__message {
    margin-top: 10px;
    border: 2px solid black;
    height: 100px;
}
.feedback-body__submit {
    font-size: 19px;
    padding: 5px;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}

.map-container {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 3px solid #333;
    justify-content: center;
    align-items: center;
}
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #333;
    justify-content: center;
    align-items: center;
}


