.sidebar .nav-item .nav-link {
    padding-left: 10px;
    border-radius: 10px;
    margin: 5px 3px; /* Memberi jeda kanan dan kiri */
    transition: all 0.3s ease;
}

.sidebar .nav-item .nav-link:hover {
    background-color: #F8F9FC;
    color: #000;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sidebar .nav-item.active .nav-link {
    background-color: #F8F9FC;
    color: #000;
    padding-left: 10px;
    border-radius: 0.3rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.sidebar .nav-link {
    color: #858796;
}